auth="/home/aleshka/.config/yandex-disk/passwd"
dir="/var/home/aleshka/Yandex.Disk"
proxy="no"
{{- if .yandex.limitedSync }}
exclude-dirs="Фотоархив,Фотокамера,Загрузки,Google takeout,backups,software,Сваьба,Games"
{{- end }}
